<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @travelogue.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @travelogue.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @travelogue.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @travelogue.gmaps %>
</p>

<p>
  <b>User:</b>
  <%= @travelogue.user %>
</p>

<%= link_to 'Edit', edit_user_travelogue_path(@travelogue) %> |  
<%= link_to 'Back', user_travelogues_path %>
 -->